/*
Fuentes
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #333;
}

header {
  background-color: #262626;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  justify-content: space-around;;
}

ul li :link, ul li :visited {
    color: #dddddd;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}

ul li :hover {
    background-color: #555;
}

main {
  display: flex;
  padding: 20px;
  color: #cecece;
  justify-content: space-around;
  border: #dddddd 1px solid;
  height: auto;
} 

.portada {
  border: #dddddd 1px solid;
  width: 40%;
  height: 80vh;
}

